<h2>{{genre.name}}</h2>
<p><strong>Id:</strong>{{genre._id}}</p>
<div *ngIf="books.length === 0, else livros"> There are no books with this genre.</div>
<ng-template #livros>
    <p><strong>Books:</strong></p>
    <li *ngFor="let book of books">
        <a [routerLink]="['/book-detail',book._id]">{{book.title}}</a><br> <button class="button">Delete Book</button><br><br>
    </li>
</ng-template>
<br>
<button class="button" (click)="deleteGenre();" type="button">Delete<br>Genre</button>
<button class="button2" [routerLink]="['/genre-update',genre._id]" type="button">Update<br>Genre</button>