<div *ngIf="!updateOrCreate">
    <h2>Genre: {{ genre.name }}</h2>
  
    <h3>Books</h3>
    <dl *ngFor="let book of books">
      <dt>
        <a href="/book/{{ book._id }}">{{ book.title }}</a>
      </dt>
      <dd>{{ book.summary }}</dd>
    </dl>
    <p *ngIf="books.length === 0">This genre has no books</p>
  
    <h3>Manage</h3>
    <button (click)="updateGenre()">Update genre</button>
    <button (click)="deleteGenre()">Delete genre</button>
  </div>
  
  <div *ngIf="updateOrCreate">
    <form [formGroup]="genreForm" (ngSubmit)="onSubmit(genreForm.value)">
      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" formControlName="name" />
      </div>
      <button type="submit">{{ buttonLabel }}</button>
    </form>
  </div>
  
  <p *ngIf="errorMessage.length !== 0">{{ errorMessage }}</p>
  