    html {
        background-color: #9A9963;
    }
    
    .grid {
        width: 85%;
        display: grid;
        margin: auto;
        grid-template: 'titulo titulo titulo titulo titulo' ' servicos servicos servicos servicos datas ' 'servicos servicos servicos servicos datas' 'servicos servicos servicos servicos datas' 'instal instal instal instal instal' 'instal instal instal instal instal' 'copy copy copy copy copy';
    }
    
    #Aulas {
        list-style-type: square;
        grid-area: Aulas;
    }
    
    #Título {
        grid-area: titulo;
        text-align: center;
        background-color: #88892B;
        border-bottom: black solid 5px;
        color: #343400;
        font-size: 20px;
    }
    
    #Serviços {
        color: #343400;
        background-color: #CDCC96;
        grid-area: servicos;
        border-right: black solid 5px;
        padding-left: 2%;
    }
    
    #Datas {
        color: #343400;
        background-color: #CDCC96;
        grid-area: datas;
        padding-left: 2%;
    }
    
    #Instalações {
        color: #343400;
        background-color: #FEFEE6;
        grid-area: instal;
        padding-left: 2%;
    }
    
    #Copyright {
        color: #B2B17B;
        background-color: #666630;
        grid-area: copy;
        text-align: center;
        font-size: 10px;
    }
    
    .link1 {
        color: #343400;
        font-weight: bold;
    }