<h2>Genre Delete</h2>

<p><strong>Name:</strong>{{genre.name}}</p>

<div *ngIf="errors">
    <h2>Errors:</h2>
    <li *ngFor="let error of errors">
        {{error.msg}}
    </li>
</div>

<div *ngIf="books.length > 0;else noBooks">
    <h2>Books:</h2>
    <li *ngFor="let book of books">
        {{book.title}} <button class="button">Delete Book</button><br><br>
    </li>
</div>

<ng-template #noBooks>There are no books with this genre.</ng-template>
<br>

<button class="button" (click)="deleteGenre();">Delete<br>Genre</button>