.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: grey
}

.button:active {
    background-color: red;
    transform: translateY(4px);
}

.button2 {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(172, 169, 8, 0.747);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button2:hover {
    background-color: grey
}

.button2:active {
    background-color: rgba(172, 169, 8, 0.747);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}