<div *ngIf="bookI">
    <h2><strong>Title:</strong><a [routerLink]="['/book-detail',bookI.book._id]">{{bookI.book.title}}</a></h2>
    <p><strong>ID:</strong>{{bookI._id}}</p>
    <p><strong>Imprint:</strong>{{bookI.imprint}}</p>
    <p><strong>Status:</strong>{{bookI.status}}</p>
    <p><strong>Due back:</strong>{{bookI.due_back | date:'yyyy/MM/dd'}}</p>
</div>

<button class="button" [routerLink]="['/book-instance-delete',bookI._id]" type="button">Delete<br>Book<br>Instance</button>
<button class="button2" [routerLink]="['/book-instance-update',bookI._id]" type="button">Update<br>Book<br>Instance</button>